<div class="flex flex-col items-center justify-center">
    <div class="w-full md:w-96">
      <h2 class="example-h2 mb-4 text-center">Strength</h2>
    
      <section class="example-section">
        <h2 class="example-h2">Result</h2>
        <mat-progress-bar
          class="example-margin"
          [color]="getColorByValue()"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue"
        ></mat-progress-bar>
      </section>
    
      <section class="example-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
        <label class="example-margin">Strength:</label>
        <mat-slider class="example-margin">
          <input type="range" [(ngModel)]="value" matSliderThumb>
        </mat-slider>
      </section>
    
      <div class="flex items-center justify-between">
        <h2 [class]="textColor()" class="example-h2 mt-4">{{strength()}}</h2>
        <input type="text" [(ngModel)]="addValue" class="mt-4">
      </div>
    </div>
  </div>
  